################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/whisper-phi4/whisper_phi4.py
/.vs
/whisper-phi4/whisper_phi4.py
/whisper-phi4/whisper_phi4.py
/whisper-phi4/whisper_phi4.py
/whisper-phi4/whisper_phi4.py
